<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Customers</title>
    <style>
        h1{
            text-align: center;
            font-family: sans-serif;
        }
        table{
            margin: auto;
            border: solid 1px;
            font-family: sans-serif;
        }
        td{
            text-align: center;

        }
    </style>
</head>
<body>
    <table>
        <h1>Clientes</h1>
        <thead>
            <tr>
                <td><h2>Cedula</h2></td>
                <td><h2>Nombre</h2></td>
                <td><h2>Direccion</h2></td>
                <td><h2>Telefono</h2></td>
                <td><h2>Correo</h2></td>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes%}
        <tr>
            <td>{{ cliente.0 }}</td>
            <td>{{ cliente.1 }}</td>
            <td>{{ cliente.2 }}</td>
            <td>{{ cliente.3 }}</td>
            <td>{{ cliente.4 }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</body>
</html>
