
    <table style="border: solid;">
        <thead>
            <tr>
                <td>Cedula</td>
                <td>Nombre</td>
                <td>Direccion</td>
                <td>Telefono</td>
                <td>Correo</td>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes%}
        <tr>
            <td>{{ cliente.0 }}</td>
            <td>{{ cliente.1 }}</td>
            <td>{{ cliente.2 }}</td>
            <td>{{ cliente.3 }}</td>
            <td>{{ cliente.4 }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
